fastapi
uvicorn
sqlmodel
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
requests
alpha-vantage
python-dotenv
python-dateutil
scikit-learn
pandas
numpy
openpyxl
joblib
fpdf2
watchfiles
google-generativeai
