@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  /* Usa o novo degradê criado no config */
  background: linear-gradient(to bottom right, #024059, #012a3b);
  min-height: 100vh;
}